@font-face {
    font-family: 'Dm Serif Display', 'Manrope', 'Neucha';
    src: url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope&family=Neucha&display=swap') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #1F3C1F;
    --white: #F4FCF6;
}

body {
    background-color: var(--white);
    font-size: 14px;
    color: var(--green);
    font-family: 'Manrope';
}

/* HEADER */
.banner {
    padding-top: 72px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto;
}

.img-logo {
    max-width: 48px;
}

/* /HEADER */